.sprite {
    width: 512px;
    height: 341.3px;
    background-image: url("./assets/row_animation.png");
    background-repeat: no-repeat;
    transition: background-position 0.2s steps(1);
    z-index: 10;
}