.viewport {
    overflow: hidden;
    width: 100%;
}

.track {
    display: flex;
    transition: transform 0.4s ease;
}

.slide {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    gap: 20px
}

.carousel button {
    flex: 0 0 auto;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.header {
    font-family: 'Comfortaa', cursive;
    font-size: x-large;
}

.arrow {
    opacity: 0.4;
}

.arrow:hover {
    opacity: 1;
}